  {{#if loggedIn}}
  <form class="new-post-form">
    <div>
      <input placeholder="What's on your mind?" type="text" id="post-title" name="post-title" />
    </div>
    <button type="submit" class="btn">Chirp</button>
  </form>
  <script src="/javascript/add-post.js"></script>
  <br>
  {{/if}}
{{#if posts.length}}
<section>
  <h2>Your Chirps</h2>
    {{#each posts as |post|}}
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link" style="padding-top: 2px;">Edit post</a>
    {{/each}}
</section>

{{else}}
  <h2>No Chirps</h2>
{{/if}}